aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
gitdb==4.0.7
GitPython==3.1.18
idna==2.10
meraki==1.10.0
multidict==5.1.0
PyYAML==5.4.1
requests==2.25.1
smmap==4.0.0
typing-extensions==3.10.0.0
urllib3==1.26.6
yarl==1.6.3